:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

#imagesmain {
    font-family: var(--montmedium);
    font-size: 16px;
    margin-top: 60px;
    min-height: 90vh;
    padding-bottom: 30px;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        .infokeeper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 30px;

            .sliderkeeper {
                margin: 0;
                padding: 0;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .sliderimages {
                    margin: 0;
                    padding: 0;

                    div {
                        margin: 0;
                        padding: 0;
                        padding: 5px;
                        position: relative;

                        span {
                            position: absolute;
                            bottom: 4%;
                            padding: 5px 10px;
                            left: 5%;
                            font-size: 14px;
                            color: #042268;
                            background-color: rgba(255, 255, 255, 0.5);
                            border-radius: 5px;
                            transition: 0.2s;
                            cursor: pointer;

                            &:hover {
                                background-color: white;
                            }
                        }

                        img {
                            width: 96%;
                            box-shadow: 0px 0px 5px 1px #04226870;
                            margin: 0 auto;
                            border-radius: 5px;
                        }
                    }
                }

                .dragkeeper {
                    margin: 0;
                    border-radius: 5px;
                    padding-left: 16px;

                    .miniimages {
                        margin: 0;
                        padding: 2px;
                        border-radius: 5px;
                        box-shadow: 0px 0px 5px 1px #04226870;

                        div {
                            margin: 0;
                            padding: 0;
                            cursor: pointer;
                            padding-right: 5px;

                            img {
                                width: 97%;
                            }
                        }
                    }
                }
            }

            .auctiondata {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;

                .bottom {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                    box-shadow: 0px 0px 5px 1px #04226870;
                    margin-top: 10px;
                    padding: 10px;
                    border-radius: 5px;

                    .prevbtn {
                        cursor: pointer;
                        transform: scale(1.2);
                    }

                    .nextbtn {
                        cursor: pointer;
                        transform: scale(1.2);
                        margin-top: 1px;
                    }
                }

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px 1px #04226870;
                    padding: 15px;

                    .downloadall {
                        padding: 10px 15px;
                        background-color: #042268;
                        border-radius: 5px;
                        box-shadow: 0px 0px 5px 1px #04226870;
                        margin: 0 auto;
                        margin-top: 22px;
                        color: white;
                        font-size: 18px;
                        cursor: pointer;
                    }

                    p {
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        color: #042268;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        margin-top: 20px;
                        font-size: 20px;
                        font-family: var(--montmedium);
                        list-style: none;

                        li {
                            border-bottom: 0.5px solid #042268;
                            padding: 4px 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &:last-child {
                                border-bottom: none;
                                padding-bottom: 0;
                            }

                            span {
                                &:nth-child(1) {
                                    font-size: 16px;
                                    font-family: var(--montmedium);
                                }

                                &:nth-child(2) {
                                    font-family: var(--montbold);
                                    font-size: 20px;
                                    color: #042268;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {

    #imagesmain {
        margin-top: 60px !important;
        min-height: 92vh !important;
        padding-bottom: 20px !important;

        .all {

            .infokeeper {
                margin-bottom: 30px !important;

                .sliderkeeper {
                    padding: 0 !important;

                    .sliderimages {
                        margin-bottom: 10px !important;

                        div {
                            padding: 0 !important;

                            span {
                                left: 3% !important;
                            }

                            img {
                                width: 100% !important;
                                box-shadow: none !important;
                            }
                        }
                    }

                    .dragkeeper {
                        padding-left: 0 !important;
                        margin-bottom: 10px !important;

                        .miniimages {

                            div {

                                img {
                                    width: 100% !important;
                                    border-radius: 3px !important;
                                }
                            }
                        }
                    }
                }

                .auctiondata {

                    .bottom {
                        display: none !important;
                        order: 1 !important;
                        margin-bottom: 10px !important;
                        margin-top: 0 !important;
                    }

                    .top {
                        order: 2 !important;

                        .downloadall {
                            padding: 10px !important;
                            margin-top: 10px !important;
                            font-size: 16px !important;
                        }

                        p {
                            font-size: 18px !important;
                        }

                        ul {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width:576px) and (max-width: 768px) {
    #imagesmain {
        margin-top: 60px !important;
        min-height: 92vh !important;
        padding-bottom: 20px !important;

        .all {

            .infokeeper {
                margin-bottom: 30px !important;

                .sliderkeeper {
                    padding: 0 !important;

                    .sliderimages {
                        margin-bottom: 10px !important;

                        div {
                            padding: 0 !important;

                            img {
                                width: 100% !important;
                                box-shadow: none !important;
                            }
                        }
                    }

                    .dragkeeper {
                        padding-left: 0 !important;
                        margin-bottom: 10px !important;

                        .miniimages {

                            div {

                                img {
                                    width: 100% !important;
                                    border-radius: 3px !important;
                                }
                            }
                        }
                    }
                }

                .auctiondata {

                    .bottom {
                        order: 1 !important;
                        margin-bottom: 10px !important;
                        margin-top: 0 !important;
                    }

                    .top {
                        order: 2 !important;

                        .downloadall {
                            padding: 10px !important;
                            margin-top: 15px !important;
                            font-size: 16px !important;
                        }

                        ul {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    #imagesmain {
        margin-top: 80px !important;
        min-height: 92vh !important;
        padding-bottom: 20px !important;

        .all {

            .infokeeper {
                margin-bottom: 30px !important;

                .sliderkeeper {
                    padding: 0 !important;

                    .sliderimages {
                        margin-bottom: 10px !important;

                        div {
                            padding: 0 !important;

                            img {
                                width: 100% !important;
                                box-shadow: none !important;
                            }
                        }
                    }

                    .dragkeeper {
                        padding-left: 0 !important;
                        margin-bottom: 10px !important;

                        .miniimages {

                            div {

                                img {
                                    width: 100% !important;
                                    border-radius: 3px !important;
                                }
                            }
                        }
                    }
                }

                .auctiondata {

                    .bottom {
                        order: 1 !important;
                        margin-bottom: 10px !important;
                        margin-top: 0 !important;
                    }

                    .top {
                        order: 2 !important;

                        .downloadall {
                            padding: 10px !important;
                            margin-top: 15px !important;
                            font-size: 16px !important;
                        }

                        ul {
                            margin-top: 15px !important;
                        }
                    }
                }
            }
        }
    }
}