:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

#loginmain {
    font-family: var(--montlight);
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-bottom: 30px;

    .all {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 89vh;
        width: 100%;
        margin: 0;
        padding: 0;

        form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            align-items: center;
            border-radius: 15px;
            box-shadow: 0px 0px 5px 1px #0422686c;
            padding: 30px;
            transition: 0.2s;
            font-family: var(--montmedium);

            &:hover {
                box-shadow: 0px 0px 5px 1px #02184b9f;
            }

            .loginp {
                text-align: center;
                font-size: 20px;
                margin-bottom: 15px;
                color: #042268;
            }

            label {
                margin-top: 30px;
                color: #042268;
                font-size: 14px;
                margin-bottom: 5px;
            }

            .inputkeeper {
                display: flex;
                justify-content: start;
                align-items: center;
                flex-wrap: wrap;
                overflow: hidden;
                border-radius: 5px;
                box-shadow: 0px 0px 5px 1px #0422686c;

                span {
                    letter-spacing: 3px;
                    transition: 0.2s;
                    padding: 6px 5px;
                    padding-left: 15px;
                    font-size: 18px;
                    color: #042268;
                    transition: 0.2s;
                    text-align: end;
                }

                input {
                    font-size: 18px;
                    letter-spacing: 3px;
                    outline: none;
                    border: none;
                    transition: 0.2s;
                    padding: 6px 0px;
                    transition: 0.2s;
                    color: #042268;

                    &::placeholder {
                        color: grey;
                        font-size: 18px;
                    }
                }

                .code {
                    padding: 6px 20px;
                }
            }

            button {
                background-color: #042268;
                color: white;
                font-size: 18px;
                padding: 7px 60px;
                border-radius: 5px;
                margin: 0 auto;
                margin-top: 30px;
                transition: 0.2s;

                &:hover {
                    box-shadow: 0px 0px 5px 1px #0422686c;
                }
            }
        }

        #kodgelennensonra {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

@media(max-width: 576px) {
    #loginmain {

        .all {

            form {
                border-radius: 10px !important;
                padding: 20px !important;
                box-shadow: 0px 0px 5px 1px #0422686c !important;

                &:hover {
                    box-shadow: 0px 0px 5px 1px #0422686c !important;
                }

                .loginp {
                    font-size: 16px !important;
                }

                label {
                    margin-top: 20px !important;
                    font-size: 14px !important;
                }

                .inputkeeper {

                    span {
                        letter-spacing: 2px !important;
                        font-size: 14px !important;
                        padding-bottom: 6px !important;
                    }

                    input {
                        font-size: 14px !important;
                        letter-spacing: 3px !important;

                        &::placeholder {
                            font-size: 14px !important;
                            letter-spacing: 2px !important;
                        }
                    }

                    .code {
                        padding: 6px 15px !important;
                    }
                }

                button {
                    font-size: 14px !important;
                    margin: 0 auto !important;
                    margin-top: 30px !important;

                    &:hover {
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}