:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

@media(max-width: 576px) {
    #header {
        font-size: 14px !important;

        .all {
            div {

                &:nth-child(2) {
                    a {
                        margin: 0 15px !important;

                        &:hover {
                            &::before {
                                content: '';
                                width: 0 !important;
                            }
                        }

                        &:last-child {
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }

    #main {
        padding-top: 70px !important;
        min-height: 70vh !important;

        .all {

            .maincontainer {
                background-image: url(../images/bannertel.jpg) !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                height: 77vh !important;

                .firstp {
                    font-size: 24px !important;
                    top: 7% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }

                .secondp {
                    top: 24% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                    font-size: 15px !important;
                }

                .inputbox {
                    top: 40% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;

                    &:hover {
                        box-shadow: 0px 0px 5px 1px #04226846 !important;
                    }

                    &:focus {
                        box-shadow: 0px 0px 5px 1px #04226846 !important;
                    }

                    input {
                        font-size: 14px !important;
                        letter-spacing: 1px !important;
                        padding: 6px 5px !important;

                        &::placeholder {
                            font-size: 14px !important;
                            letter-spacing: 4px !important;
                        }
                    }

                    .copyspan,
                    .deleteinp {
                        left: 70% !important;
                    }

                    button {
                        font-size: 14px !important;
                        padding: 10px 5px !important;

                        &:hover {
                            color: #0055b0 !important;
                            background-color: white !important;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .resultsContainer {
                font-size: 13px !important;
                padding-bottom: 10px !important;

                .resultContainer {
                    border-radius: 5px !important;
                    padding: 7px !important;
                    margin-bottom: 15px !important;

                    .icindeki {
                        border-radius: 5px !important;

                        .top {

                            .toptop,
                            .topbottom {

                                .topelement {
                                    font-size: 13px !important;

                                    &:nth-child(2) {

                                        span {
                                            &:nth-child(2) {
                                                text-align: start !important;
                                            }
                                        }
                                    }

                                    span {
                                        &:nth-child(2) {
                                            font-family: var(--montlight) !important;
                                            font-size: 12px !important;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom {
                            padding: 10px !important;

                            .price {
                                font-size: 14px !important;
                                padding: 6px 12px !important;
                                border-radius: 5px !important;
                            }

                            button {
                                padding: 7px 40px !important;
                                font-size: 14px !important;
                            }
                        }
                    }
                }

                .photosApiResult {
                    font-size: 14px !important;
                    margin-top: 15px !important;

                    a {
                        padding: 8px !important;
                        font-size: 13px !important;
                        transition: 0 !important;
                    }
                }

                .reklam {
                    margin-bottom: 0 !important;

                    &:nth-child(1) {
                        margin-bottom: 15px !important;
                    }
                }

                .autocheckContainer {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    #footer {
        margin-top: 20px !important;

        .all {
            padding: 6px 0 !important;

            .left {
                width: 15% !important;
                flex-direction: column;

                .fblink {
                    i {
                        font-size: 25px !important;
                    }
                }

                .instalink {
                    i {
                        font-size: 25px !important;
                    }
                }
            }

            .middle {
                padding-left: 0 !important;
                width: 72% !important;

                p {
                    font-size: 12px !important;
                }

                a {
                    font-size: 12px !important;
                }
            }

            .right {
                width: 12% !important;
                flex-direction: column;

                img {
                    width: 70% !important;
                }
            }
        }
    }
}

@media(min-width: 577px) and (max-width: 768px) {

    #main {
        padding-top: 80px !important;

        .all {

            .maincontainer {
                height: 80vh !important;

                .firstp {
                    font-size: 26px !important;
                }

                .secondp {
                    top: 30% !important;
                    width: 55% !important;
                    color: #0055b0 !important;
                    font-size: 18px !important;
                }

                .inputbox {
                    width: 80% !important;

                    .copyspan,
                    .deleteinp {
                        left: 70% !important;
                        font-size: 25px !important;
                    }

                    input {
                        font-size: 16px !important;
                        letter-spacing: 2px !important;
                        padding: 6px !important;

                        &::placeholder {
                            font-size: 16px !important;
                        }
                    }

                    button {
                        font-size: 16px !important;
                        padding: 6px 5px !important;
                    }
                }
            }

            .resultsContainer {

                .resultContainer {
                    &:nth-child(2) {
                        margin-top: 15px !important;
                    }

                    .icindeki {

                        .top {

                            .toptop,
                            .topbottom {

                                .topelement {

                                    &:nth-child(1) {
                                        span {
                                            &:nth-child(1) {
                                                width: 30%;
                                            }

                                            &:nth-child(2) {
                                                width: 95%;
                                            }
                                        }
                                    }

                                    &:nth-child(2) {
                                        text-align: start;
                                        padding-left: 5px;

                                        span {
                                            &:nth-child(1) {
                                                width: 78% !important;
                                            }

                                            &:nth-child(2) {
                                                text-align: end;
                                                width: 20% !important;
                                            }
                                        }
                                    }
                                }
                            }

                            .toptop {

                                .topelement {

                                    &:nth-child(2) {

                                        span {
                                            &:nth-child(1) {
                                                width: 68% !important;
                                            }

                                            &:nth-child(2) {
                                                text-align: end;
                                                width: 30% !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .photosApiResult {
                    font-size: 16px !important;
                    margin-top: 15px !important;

                    a {
                        padding: 8px !important;
                        font-size: 16px !important;
                        transition: 0 !important;
                    }
                }

                .reklam {
                    width: 100% !important;
                    margin-top: 20px !important;
                }
            }
        }
    }

    #footer {
        margin-top: 20px !important;

        .all {
            padding: 6px 0 !important;

            .left {
                width: 15% !important;

                .fblink {
                    i {
                        font-size: 25px !important;
                    }
                }

                .instalink {
                    i {
                        font-size: 25px !important;
                    }
                }
            }

            .middle {
                padding-left: 0 !important;
                width: 68% !important;

                p {
                    font-size: 12px !important;
                }

                a {
                    font-size: 12px !important;
                }
            }

            .right {
                width: 15% !important;

                img {
                    width: 25% !important;
                }
            }
        }
    }
}

@media(min-width: 769px) and (max-width: 992px) {

    #main {
        padding-top: 80px !important;

        .all {

            .maincontainer {
                height: 80vh !important;

                .firstp {
                    font-size: 26px !important;
                }

                .secondp {
                    top: 24% !important;
                    width: 55% !important;
                    color: #0055b0 !important;
                    font-size: 18px !important;
                }

                .inputbox {
                    width: 55% !important;

                    .copyspan,
                    .deleteinp {
                        left: 70% !important;
                        font-size: 25px !important;
                    }

                    input {
                        font-size: 16px !important;
                        letter-spacing: 2px !important;
                        padding: 6px !important;

                        &::placeholder {
                            font-size: 16px !important;
                        }
                    }

                    button {
                        font-size: 16px !important;
                        padding: 6px 5px !important;
                    }
                }
            }

            .resultsContainer {

                .resultContainer {
                    &:nth-child(2) {
                        margin-top: 15px !important;
                    }

                    .icindeki {

                        .top {

                            .toptop,
                            .topbottom {

                                .topelement {

                                    span {
                                        &:nth-child(1) {
                                            width: 25% !important;
                                        }

                                        &:nth-child(2) {
                                            width: 74% !important;
                                        }
                                    }

                                    &:nth-child(2) {

                                        span {
                                            &:nth-child(1) {
                                                width: 55% !important;
                                            }

                                            &:nth-child(2) {
                                                width: 40% !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .photosApiResult {
                    font-size: 18px !important;
                    margin-top: 15px !important;

                    a {
                        padding: 8px !important;
                        font-size: 18px !important;
                        transition: 0 !important;
                    }
                }

                .reklam {
                    width: 100% !important;
                    margin-top: 20px !important;
                }
            }
        }
    }

    #footer {

        .all {

            .left {
                width: 12% !important;

                .fblink {
                    i {
                        font-size: 30px;
                        color: #042268;
                    }
                }

                .instalink {
                    i {
                        font-size: 30px;
                        color: #C13584;
                    }
                }
            }

            .middle {
                padding-left: 0px !important;
                width: 70% !important;
            }

            .right {
                width: 15% !important;

                img {
                    width: 25% !important;
                }
            }
        }
    }
}

@media(min-width: 1000px) and (max-width: 1200px) {
    #main {

        .all {

            .resultsContainer {

                .resultContainer {

                    .icindeki {

                        .top {

                            .toptop,
                            .topbottom {

                                .topelement {

                                    &:nth-child(1) {
                                        span {
                                            &:nth-child(1) {
                                                width: 30%;
                                            }

                                            &:nth-child(2) {
                                                width: 95%;
                                            }
                                        }
                                    }

                                    &:nth-child(2) {
                                        text-align: start;
                                        padding-left: 5px;

                                        span {
                                            &:nth-child(1) {
                                                width: 78% !important;
                                            }

                                            &:nth-child(2) {
                                                text-align: end;
                                                width: 20% !important;
                                            }
                                        }
                                    }
                                }
                            }

                            .toptop {

                                .topelement {

                                    &:nth-child(2) {

                                        span {
                                            &:nth-child(1) {
                                                width: 68% !important;
                                            }

                                            &:nth-child(2) {
                                                text-align: end;
                                                width: 30% !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}