:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

@media(max-width: 576px) {
    #header {
        font-size: 14px !important;

        .all {
            div {
                &:nth-child(2) {
                    a {

                        &:hover {
                            &::before {
                                content: '';
                                width: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }

    #main {
        margin-top: 60px !important;

        .all {

            form {

                .firstp {
                    font-size: 24px !important;
                    top: 7% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }

                .secondp {
                    top: 24% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                    font-size: 15px !important;
                }

                .errorp {
                    font-size: 14px !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                    text-align: center;
                }

                .hideerrorp {
                    opacity: 0 !important;
                    visibility: hidden !important;
                }

                .inputbox {
                    top: 40% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;

                    &:hover {
                        box-shadow: 0px 0px 5px 1px #04226846 !important;
                    }

                    &:focus {
                        box-shadow: 0px 0px 5px 1px #04226846 !important;
                    }

                    input {
                        font-size: 14px !important;
                        letter-spacing: 1px !important;
                        padding: 6px 5px !important;

                        &::placeholder {
                            font-size: 14px !important;
                            letter-spacing: 4px !important;
                        }
                    }

                    .copyspan,
                    .deleteinp {
                        left: 70% !important;
                    }

                    button {
                        font-size: 14px !important;
                        padding: 10px 5px !important;

                        &:hover {
                            color: #0055b0 !important;
                            background-color: white !important;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .resultsContainer {
                font-size: 14px !important;

                .resultContainer {
                    border-radius: 5px !important;
                    padding: 7px !important;
                    margin-bottom: 15px !important;

                    .icindeki {
                        border-radius: 5px !important;

                        .top {

                            .toptop,
                            .topbottom {

                                .topelement {
                                    font-size: 13px !important;

                                    &:nth-child(2) {

                                        span {
                                            &:nth-child(2) {
                                                text-align: start !important;
                                            }
                                        }
                                    }

                                    span {
                                        &:nth-child(2) {
                                            font-family: var(--montlight) !important;
                                            font-size: 12px !important;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom {
                            padding: 10px !important;

                            .price {
                                font-size: 24px !important;
                            }

                            a {
                                padding: 7px 50px !important;
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}