:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

@media(max-width: 576px) {
    #header {
        font-size: 14px !important;

        .all {
            div {

                &:nth-child(2) {
                    a {
                        margin: 0 15px !important;

                        &:hover {
                            &::before {
                                content: '';
                                width: 0 !important;
                            }
                        }

                        &:last-child {
                            margin: 0 !important;
                        }
                    }
                }
            }
        }
    }

    #main {
        padding-top: 70px !important;
        min-height: 70vh !important;

        .all {

            form {
                background-image: url(../images/bannertel.jpg) !important;
                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
                height: 70vh !important;

                .firstp {
                    font-size: 24px !important;
                    top: 7% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                }

                .secondp {
                    top: 24% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                    font-size: 15px !important;
                }

                .errorp {
                    font-size: 14px !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;
                    text-align: center;
                }

                .hideerrorp {
                    opacity: 0 !important;
                    visibility: hidden !important;
                }

                .inputbox {
                    top: 40% !important;
                    left: 50% !important;
                    transform: translateX(-50%) !important;

                    &:hover {
                        box-shadow: 0px 0px 5px 1px #04226846 !important;
                    }

                    &:focus {
                        box-shadow: 0px 0px 5px 1px #04226846 !important;
                    }

                    input {
                        font-size: 14px !important;
                        letter-spacing: 1px !important;
                        padding: 6px 5px !important;

                        &::placeholder {
                            font-size: 14px !important;
                            letter-spacing: 4px !important;
                        }
                    }

                    .copyspan,
                    .deleteinp {
                        left: 70% !important;
                    }

                    button {
                        font-size: 14px !important;
                        padding: 10px 5px !important;

                        &:hover {
                            color: #0055b0 !important;
                            background-color: white !important;
                        }

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }

            .resultsContainer {
                font-size: 14px !important;
                padding-bottom: 10px !important;

                .resultContainer {
                    border-radius: 5px !important;
                    padding: 7px !important;
                    margin-bottom: 15px !important;

                    .icindeki {
                        border-radius: 5px !important;

                        .top {

                            .toptop,
                            .topbottom {

                                .topelement {
                                    font-size: 13px !important;

                                    &:nth-child(2) {

                                        span {
                                            &:nth-child(2) {
                                                text-align: start !important;
                                            }
                                        }
                                    }

                                    span {
                                        &:nth-child(2) {
                                            font-family: var(--montlight) !important;
                                            font-size: 12px !important;
                                        }
                                    }
                                }
                            }
                        }

                        .bottom {
                            padding: 10px !important;

                            .price {
                                font-size: 14px !important;
                                padding: 6px 12px !important;
                                border-radius: 5px !important;
                            }

                            a {
                                padding: 7px 40px !important;
                                font-size: 14px !important;
                            }
                        }
                    }
                }

                .reklam {
                    margin-bottom: 0 !important;

                    &:nth-child(1) {
                        margin-bottom: 15px !important;
                    }
                }

                .autocheckContainer {
                    margin-bottom: 0 !important;
                }
            }
        }
    }

    #footer {
        margin-top: 20px !important;

        .all {
            padding: 6px 0 !important;

            .left {
                order: 1 !important;

                .garantautolink {
                    width: 30% !important;
                }

                .fblink {
                    i {
                        font-size: 25px !important;
                    }
                }

                .instalink {
                    i {
                        font-size: 25px !important;
                    }
                }
            }

            .middle {
                order: 3 !important;
                margin-top: 10px !important;
                padding-left: 0 !important;

                p {
                    font-size: 12px !important;
                }

                a {
                    font-size: 12px !important;
                }
            }

            .right {
                order: 2 !important;

                img {
                    width: 25% !important;
                }
            }
        }
    }
}