:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

#myaccountmain {
    margin-top: 70px;
    font-family: var(--montmedium);
    font-size: 16px;
    padding-bottom: 30px;
    min-height: 92vh;

    .ifnopurchases {
        p {
            text-align: center;
            font-family: var(--montmedium);
            font-size: 35px;
            color: red;
        }
    }

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        .userinfo {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #000;
            padding-bottom: 10px;

            .balanceamount {
                font-size: 22px;
                color: #042268;
                font-family: var(--montbold);
            }

            .balance {
                color: black;
                font-size: 18px;
            }

            a {
                padding: 10px 50px;
                background-color: #042268;
                color: white;
                border-radius: 5px;
            }
        }

        .forsort {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            border-bottom: 1px solid #000;
            padding: 0;

            .sortform {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                margin: 10px 0;

                select {
                    font-size: 16px;
                    border: 0.5px solid rgb(184, 184, 184);
                    color: black;
                    cursor: pointer;
                    box-shadow: 0px 0px 5px 1px #04226846;
                    border-radius: 5px;
                    padding: 6px 10px;
                    background-color: white;
                    outline: none;
                }
            }

            input {
                font-size: 16px;
                border: 0.5px solid rgb(184, 184, 184);
                box-shadow: 0px 0px 5px 1px #04226846;
                color: black;
                letter-spacing: 2px;
                border-radius: 5px;
                outline: none;
                background-color: white;
                transition: 0.2s;
                padding: 5px 10px;

                &::placeholder {
                    color: grey;
                    font-size: 16px;
                }
            }
        }

        table {

            th {
                text-align: center;
            }

            td {
                text-align: center;
                padding: 8px 0;
                vertical-align: middle;

                .disabledhref {
                    pointer-events: none;
                    cursor: default;
                    background-color: grey;
                }

                &:last-child {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .slash {
                        font-size: 25px;
                        font-family: var(--montmedium);
                        margin: 0 5px;
                    }
                }

                a {
                    padding: 5px;
                    font-size: 14px;
                    background-color: #042268;
                    color: white;
                    border-radius: 5px;
                    margin-left: 5px;
                }
            }
        }

        nav {
            margin-top: 30px;
        }
    }
}

@media(max-width: 576px) {
    #myaccountmain {
        margin-top: 60px !important;
        font-family: var(--montlight) !important;
        font-size: 14px !important;
        padding-bottom: 20px !important;

        .ifnopurchases {
            p {
                font-size: 20px !important;
            }
        }

        .all {
            overflow-x: scroll;

            .userinfo {
                border-bottom: 0.5px solid grey !important;

                .balanceamount {
                    font-size: 18px !important;
                    font-family: var(--montmedium) !important;
                }

                .balance {
                    font-size: 14px !important;
                }

                a {
                    padding: 5px 10px !important;
                    font-size: 14px !important;
                }
            }

            .forsort {
                justify-content: space-between !important;
                margin-top: 10px !important;
                flex-wrap: wrap !important;
                padding-bottom: 10px !important;

                .sortform {
                    justify-content: space-between !important;
                    margin: 0 !important;
                    margin-top: 10px !important;

                    select {
                        font-size: 14px !important;
                        margin: 0 !important;
                        padding: 5px !important;
                    }
                }

                input {
                    font-size: 14px !important;
                    letter-spacing: 2px !important;
                    margin: 0 !important;
                    padding: 5px !important;

                    &::placeholder {
                        font-size: 14px !important;
                    }
                }
            }

            table {

                th {
                    font-size: 14px !important;
                }

                td {
                    padding: 5px 0 !important;
                    font-size: 12px !important;

                    &:last-child {

                        .slash {
                            font-size: 20px !important;
                            font-family: var(--montlight) !important;
                            margin: 0 3px !important;
                        }
                    }

                    a {
                        font-size: 12px !important;
                        padding: 8px 3px !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 577px) and (max-width: 900px) {
    #myaccountmain {

        .ifnopurchases {
            p {
                font-size: 30px !important;
            }
        }

        .all {

            .userinfo {

                .balanceamount {
                    font-size: 20px !important;
                    font-family: var(--montmedium) !important;
                }

                .balance {
                    font-size: 16px !important;
                }

                a {
                    padding: 10px 30px !important;
                }
            }

            .forsort {
                justify-content: space-between !important;

                .sortform {
                    width: 38% !important;
                    justify-content: space-between !important;

                    select {
                        font-size: 14px !important;
                        margin-right: 0px !important;

                        &:nth-child(1) {
                            width: 24% !important;
                        }

                        &:nth-child(2) {
                            width: 72% !important;
                        }
                    }
                }

                input {
                    font-size: 14px !important;
                    letter-spacing: 1px !important;
                    margin: 0 !important;
                    padding: 2px 10px !important;
                    width: 60% !important;

                    &::placeholder {
                        font-size: 14px !important;
                    }
                }
            }

            table {
                td {
                    padding: 7px 0 !important;

                    &:last-child {

                        .slash {
                            font-size: 20px !important;
                            font-family: var(--montlight) !important;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 900px) and (max-width: 1100px) {
    #myaccountmain {

        .ifnopurchases {
            p {
                font-size: 30px !important;
            }
        }

        .all {

            .userinfo {

                .balanceamount {
                    font-size: 20px !important;
                    font-family: var(--montmedium) !important;
                }

                .balance {
                    font-size: 16px !important;
                }

                a {
                    padding: 10px 30px !important;
                }
            }

            .forsort {
                justify-content: space-between !important;

                .sortform {
                    width: 38% !important;
                    justify-content: space-between !important;

                    select {
                        font-size: 14px !important;
                        margin-right: 0px !important;

                        &:nth-child(1) {
                            width: 24% !important;
                        }

                        &:nth-child(2) {
                            width: 72% !important;
                        }
                    }
                }

                input {
                    font-size: 14px !important;
                    letter-spacing: 1px !important;
                    margin: 0 !important;
                    padding: 5px 10px !important;
                    width: 60% !important;

                    &::placeholder {
                        font-size: 14px !important;
                    }
                }
            }

            table {
                td {
                    padding: 7px 0 !important;

                    &:last-child {

                        .slash {
                            font-size: 20px !important;
                            font-family: var(--montlight) !important;
                        }
                    }
                }
            }
        }
    }
}