:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

#purchasemain {
    font-family: var(--montmedium);
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .all {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 80px;
        height: 100%;

        form {
            margin: 0;
            padding: 0;

            // .above {
            //     z-index: 4;
            //     border: 0.5px solid grey;
            //     border-radius: 5px;
            //     padding: 20px;
            //     background-color: #f8edd5;
            //     padding-top: 30px;
            //     padding-bottom: 10px;
            //     box-shadow: 0px 0px 5px 1px #04226846;
            //     display: flex;
            //     align-items: center;
            //     flex-wrap: wrap;
            //     justify-content: space-between;

            //     .validthru {
            //         margin-bottom: 10px;
            //         font-size: 14px;
            //     }

            //     input {
            //         font-size: 18px;
            //         color: black;
            //         border-radius: 5px;
            //         border: 0.5px solid #0055b0;
            //         box-shadow: 0px 0px 5px 1px #04226846;
            //         outline: none;
            //         border: none;
            //         padding: 2px 6px;
            //         margin-bottom: 20px;
            //         letter-spacing: 2px;

            //         &:focus {
            //             box-shadow: 0px 0px 10px 1px #04226870;
            //         }

            //         &::placeholder {
            //             color: black;
            //             font-family: var(--montlight);
            //             font-size: 18px;
            //         }
            //     }

            //     .ikisi {
            //         display: flex;
            //         justify-content: space-between;
            //         align-items: center;
            //         flex-wrap: wrap;

            //         .leftside {
            //             display: flex;
            //             justify-content: space-between;
            //             align-items: center;
            //             flex-wrap: wrap;
            //             margin-bottom: 10px;

            //             input {
            //                 margin: 0;
            //             }

            //             span {
            //                 font-size: 30px;
            //                 color: black;
            //                 font-family: var(--montlight);
            //             }
            //         }

            //         .rightside {
            //             display: flex;
            //             justify-content: end;
            //             align-items: center;
            //             margin-bottom: 10px;
            //             flex-wrap: wrap;

            //             .odu {
            //                 img {
            //                     filter: brightness(0.2) !important;
            //                 }
            //             }

            //             .cardbox {
            //                 margin-left: 5px;
            //             }
            //         }
            //     }

            //     #year,
            //     #cvv,
            //     #month {
            //         text-align: center;
            //     }
            // }

            // .below {
            //     position: absolute;
            //     height: 75%;
            //     top: 45%;
            //     transform: translateY(-50%);
            //     right: 0%;
            //     border: 0.5px solid grey;
            //     border-radius: 5px;
            //     background-color: #e0ddd7;
            //     box-shadow: 0px 0px 5px 1px #04226846;
            //     display: flex;
            //     align-items: flex-end;
            //     flex-wrap: wrap;
            //     justify-content: end;
            //     z-index: 2;

            //     &::before {
            //         content: '';
            //         width: 100%;
            //         height: 70px;
            //         background-color: rgb(63, 63, 63);
            //     }

            //     input {
            //         font-size: 18px;
            //         color: black;
            //         border-radius: 5px;
            //         border: 0.5px solid #0055b0;
            //         box-shadow: 0px 0px 5px 1px #04226846;
            //         outline: none;
            //         border: none;
            //         padding: 2px 6px;
            //         margin-bottom: 50px;
            //         margin-right: 20px;

            //         &:focus {
            //             box-shadow: 0px 0px 10px 1px #04226870;
            //         }

            //         &::placeholder {
            //             color: black;
            //             font-family: var(--montlight);
            //             font-size: 18px;
            //         }
            //     }

            //     #cvv {
            //         text-align: center;
            //     }
            // }

            .buttonandtelkeeper {
                margin: 0;
                padding: 0;
                margin-top: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;

                .inputkeeper {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    flex-wrap: wrap;
                    overflow: hidden;
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px 1px #0422686c;

                    span {
                        letter-spacing: 3px;
                        padding: 6px 5px;
                        font-size: 16px;
                        color: #042268;
                        transition: 0.2s;
                        text-align: end;
                    }

                    input {
                        font-size: 16px;
                        letter-spacing: 2px;
                        outline: none;
                        border: none;
                        transition: 0.2s;
                        padding: 6px 0px;
                        transition: 0.2s;
                        color: #042268;

                        &::placeholder {
                            color: grey;
                            font-size: 16px;
                        }
                    }

                    .code {
                        padding: 6px 20px;
                    }
                }

                button {
                    padding: 6px 55px;
                    font-size: 16px;
                    background-color: #0055b0;
                    text-align: center;
                    box-shadow: 0px 0px 5px 1px #0422686c;
                    border-radius: 5px;
                    color: white;
                    font-family: var(--montmedium);
                }
            }
        }

        .resultContainer {
            box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.3);
            border-radius: 8px;
            padding: 8px;
            background-color: white;

            .icindeki {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                border: 0.5px solid #0055b0;
                border-radius: 8px;
                background-color: white;

                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .toptop,
                    .topbottom {
                        padding: 15px;
                        border-bottom: 0.5px solid #0055b0;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        .topelement {
                            font-size: 14px;
                            color: #0055b0;
                            font-family: var(--montbold);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;

                            &:nth-child(2) {
                                text-align: start;
                                padding-left: 5px;

                                span {
                                    &:nth-child(2) {
                                        text-align: end;
                                    }
                                }
                            }

                            span {
                                &:nth-child(2) {
                                    font-family: var(--montmedium);
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }

                .bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 15px 10px;

                    .price {
                        font-size: 20px;
                        padding: 6px 70px;
                        border-radius: 5px;
                        border: 0.5px solid #0055b0;
                        font-family: var(--montbold);
                        color: #0055b0;
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    #purchasemain {
        min-height: 90vh !important;
        padding-bottom: 80px !important;

        .all {

            form {

                // .above {
                //     padding: 15px !important;

                //     .validthru {
                //         font-size: 10px !important;
                //         margin-bottom: 10px !important;
                //     }

                //     input {
                //         font-size: 14px !important;
                //         padding: 5px !important;
                //         margin-bottom: 15px !important;

                //         &::placeholder {
                //             font-size: 14px !important;
                //         }
                //     }

                //     .ikisi {

                //         .leftside {
                //             margin-bottom: 0 !important;

                //             input {
                //                 margin: 0 !important;
                //             }

                //             span {
                //                 font-size: 25px !important;
                //             }
                //         }

                //         .rightside {
                //             margin-bottom: 0 !important;
                //         }
                //     }

                //     #year,
                //     #cvv,
                //     #month {
                //         text-align: center;
                //     }
                // }

                // .below {
                //     height: 56% !important;
                //     transform: translateY(0) !important;
                //     top: 5% !important;

                //     &::before {
                //         content: '';
                //         height: 50px !important;
                //     }

                //     input {
                //         font-size: 14px !important;
                //         padding: 5px !important;
                //         margin-bottom: 40px !important;
                //         margin-right: 15px !important;

                //         &::placeholder {
                //             font-size: 14px !important;
                //         }
                //     }
                // }

                .buttonandtelkeeper {
                    margin-top: 20px !important;

                    .inputkeeper {

                        span {
                            letter-spacing: 2px !important;
                            font-size: 14px !important;
                        }

                        input {
                            font-size: 14px !important;
                            letter-spacing: 3px !important;

                            &::placeholder {
                                font-size: 14px !important;
                                letter-spacing: 2px !important;
                            }
                        }

                        .code {
                            padding: 6px 10px !important;
                        }
                    }

                    button {
                        padding: 9px 55px !important;
                        margin-top: 20px !important;
                    }
                }
            }

            .resultContainer {
                border-radius: 5px !important;
                padding: 7px !important;
                margin-bottom: 15px !important;

                .icindeki {
                    border-radius: 5px !important;

                    .top {

                        .toptop,
                        .topbottom {
                            padding: 8px !important;

                            .topelement {
                                font-size: 13px !important;

                                &:nth-child(2) {

                                    span {
                                        &:nth-child(2) {
                                            text-align: start !important;
                                        }
                                    }
                                }

                                span {
                                    &:nth-child(2) {
                                        font-family: var(--montlight) !important;
                                        font-size: 12px !important;
                                    }
                                }
                            }
                        }
                    }

                    .bottom {
                        padding: 10px !important;

                        .price {
                            font-size: 14px !important;
                            padding: 6px 40px !important;
                            border-radius: 5px !important;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 577px) and (max-width: 768px) {
    #purchasemain {
        min-height: 90vh !important;

        .all {

            form {

                // .above {
                //     padding: 15px !important;

                //     .validthru {
                //         font-size: 10px !important;
                //         margin-bottom: 10px !important;
                //     }

                //     input {
                //         font-size: 14px !important;
                //         padding: 5px !important;
                //         margin-bottom: 15px !important;

                //         &::placeholder {
                //             font-size: 14px !important;
                //         }
                //     }

                //     .ikisi {

                //         .leftside {
                //             margin-bottom: 0 !important;

                //             input {
                //                 margin: 0 !important;
                //             }

                //             span {
                //                 font-size: 25px !important;
                //             }
                //         }

                //         .rightside {
                //             margin-bottom: 0 !important;
                //         }
                //     }

                //     #year,
                //     #cvv,
                //     #month {
                //         text-align: center;
                //     }
                // }

                // .below {
                //     height: 68% !important;
                //     transform: translateY(0) !important;
                //     top: 5% !important;

                //     &::before {
                //         content: '';
                //         height: 50px !important;
                //     }

                //     input {
                //         font-size: 14px !important;
                //         padding: 5px !important;
                //         margin-bottom: 40px !important;
                //         margin-right: 15px !important;

                //         &::placeholder {
                //             font-size: 14px !important;
                //         }
                //     }
                // }

                .buttonandtelkeeper {
                    margin-top: 30px !important;

                    .inputkeeper {
                        width: 47% !important;

                        span {
                            letter-spacing: 2px !important;
                            font-size: 14px !important;
                        }

                        input {
                            font-size: 14px !important;
                            letter-spacing: 3px !important;

                            &::placeholder {
                                font-size: 14px !important;
                                letter-spacing: 2px !important;
                            }
                        }

                        .code {
                            padding: 6px 10px !important;
                        }
                    }

                    button {
                        padding: 5px 55px !important;
                        width: 47% !important;
                    }
                }
            }

            .resultContainer {
                border-radius: 5px !important;
                padding: 7px !important;
                margin-bottom: 15px !important;

                .icindeki {
                    border-radius: 5px !important;

                    .top {

                        .toptop,
                        .topbottom {
                            padding: 12px !important;

                            .topelement {
                                font-size: 13px !important;

                                &:nth-child(2) {

                                    span {
                                        &:nth-child(2) {
                                            text-align: start !important;
                                        }
                                    }
                                }

                                span {
                                    &:nth-child(2) {
                                        font-family: var(--montlight) !important;
                                        font-size: 12px !important;
                                    }
                                }
                            }
                        }
                    }

                    .bottom {
                        padding: 10px !important;

                        .price {
                            font-size: 14px !important;
                            padding: 6px 40px !important;
                            border-radius: 5px !important;
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    #purchasemain {
        min-height: 92vh !important;

        .all {

            .resultContainer {

                .icindeki {

                    .top {

                        .toptop,
                        .topbottom {

                            .topelement {

                                &:nth-child(2) {

                                    span {
                                        &:nth-child(2) {
                                            text-align: start !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            form {

                // .above {

                //     input {
                //         padding: 10px !important;
                //     }
                // }

                // .below {
                //     height: 68% !important;
                //     top: 38% !important;
                //     transform: translateY(-50%) !important;

                //     input {
                //         padding: 10px !important;
                //     }

                //     &::before {
                //         content: '';
                //         height: 70px;
                //     }
                // }

                .buttonandtelkeeper {
                    margin-top: 30px !important;
                    margin-bottom: 40px !important;

                    .inputkeeper {
                        width: 47% !important;

                        span {
                            padding-left: 15px !important;
                        }
                    }

                    button {
                        width: 47% !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1200px) {
    #purchasemain {

        .all {

            form {
                width: 60% !important;

                // .below {
                //     height: 64% !important;
                //     top: 40%;
                //     transform: translateY(-50%);
                // }

                .buttonandtelkeeper {
                    margin-top: 30px !important;
                    margin-bottom: 40px !important;

                    .inputkeeper {
                        justify-content: start !important;
                        width: 47% !important;

                        span {
                            font-size: 16px !important;
                        }

                        input {
                            font-size: 16px !important;

                            &::placeholder {
                                font-size: 16px !important;
                            }
                        }
                    }

                    button {
                        font-size: 16px !important;
                        width: 47% !important;
                    }
                }
            }

            .resultContainer {
                width: 60% !important;
            }
        }
    }
}

@media(min-width: 1200px) and (max-width: 1280px) {
    #purchasemain {

        .all {

            form {
                width: 55% !important;

                .below {
                    height: 64% !important;
                    top: 40%;
                    transform: translateY(-50%);
                }

                .buttonandtelkeeper {
                    margin-top: 50px !important;
                    margin-bottom: 40px !important;

                    .inputkeeper {
                        justify-content: start !important;
                        width: 47% !important;

                        span {
                            font-size: 16px !important;
                        }

                        input {
                            font-size: 16px !important;

                            &::placeholder {
                                font-size: 16px !important;
                            }
                        }
                    }

                    button {
                        padding: 7px 55px;
                        font-size: 16px !important;
                        width: 47% !important;
                    }
                }
            }

            .resultContainer {
                width: 55% !important;
            }
        }
    }
}