:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

#topupmain {
    font-family: var(--montmedium);
    font-size: 16px;
    margin-top: 80px;
    min-height: 90vh;

    .all {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;

        form {
            margin: 0;
            padding: 0;
            margin-top: 30px;
            display: flex;
            justify-content: start;
            align-items: center;
            flex-wrap: wrap;
            position: relative;

            .above {
                z-index: 4;
                border: 0.5px solid grey;
                border-radius: 5px;
                padding: 20px;
                background-color: #f8edd5;
                padding-top: 30px;
                padding-bottom: 10px;
                box-shadow: 0px 0px 5px 1px #04226846;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;

                .validthru {
                    margin-bottom: 10px;
                    font-size: 14px;
                }

                input {
                    font-size: 18px;
                    color: black;
                    border-radius: 5px;
                    border: 0.5px solid #0055b0;
                    box-shadow: 0px 0px 5px 1px #04226846;
                    outline: none;
                    border: none;
                    padding: 2px 6px;
                    margin-bottom: 20px;
                    letter-spacing: 2px;

                    &:focus {
                        box-shadow: 0px 0px 10px 1px #04226870;
                    }

                    &::placeholder {
                        color: black;
                        font-family: var(--montlight);
                        font-size: 18px;
                    }
                }

                .ikisi {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;

                    .leftside {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        margin-bottom: 10px;

                        input {
                            margin: 0;
                        }

                        span {
                            font-size: 30px;
                            color: black;
                            font-family: var(--montlight);
                        }
                    }

                    .rightside {
                        display: flex;
                        justify-content: end;
                        align-items: center;
                        margin-bottom: 10px;
                        flex-wrap: wrap;

                        .odu {
                            img {
                                filter: brightness(0.2) !important;
                            }
                        }

                        .cardbox {
                            margin-left: 5px;
                        }
                    }
                }

                #year,
                #cvv,
                #month {
                    text-align: center;
                }
            }

            .below {
                position: absolute;
                height: 65%;
                top: 5%;
                right: 0%;
                border: 0.5px solid grey;
                border-radius: 5px;
                background-color: #e0ddd7;
                box-shadow: 0px 0px 5px 1px #04226846;
                display: flex;
                align-items: flex-end;
                flex-wrap: wrap;
                justify-content: end;
                z-index: 2;

                &::before {
                    content: '';
                    width: 100%;
                    height: 70px;
                    background-color: rgb(63, 63, 63);
                }

                input {
                    font-size: 18px;
                    color: black;
                    border-radius: 5px;
                    border: 0.5px solid #0055b0;
                    box-shadow: 0px 0px 5px 1px #04226846;
                    outline: none;
                    border: none;
                    padding: 2px 6px;
                    margin-bottom: 50px;
                    margin-right: 20px;

                    &:focus {
                        box-shadow: 0px 0px 10px 1px #04226870;
                    }

                    &::placeholder {
                        color: black;
                        font-family: var(--montlight);
                        font-size: 18px;
                    }
                }

                #cvv {
                    text-align: center;
                }
            }

            .buttonandtelkeeper {
                margin: 0;
                padding: 0;
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                padding-top: 50px;

                input {
                    font-size: 16px;
                    letter-spacing: 2px;
                    box-shadow: 0px 0px 5px 1px #0422686c;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                    transition: 0.2s;
                    padding: 6px;
                    transition: 0.2s;
                    color: #042268;

                    &::placeholder {
                        color: grey;
                        font-size: 16px;
                    }
                }

                button {
                    padding: 6px 55px;
                    font-size: 16px;
                    background-color: #0055b0;
                    text-align: center;
                    box-shadow: 0px 0px 5px 1px #0422686c;
                    border-radius: 5px;
                    color: white;
                    font-family: var(--montmedium);
                }
            }
        }
    }
}

@media(max-width: 576px) {
    #topupmain {
        margin-top: 80px !important;
        min-height: 79vh !important;

        .all {

            form {
                margin-top: 20px !important;

                .above {
                    padding: 15px !important;

                    .validthru {
                        font-size: 10px !important;
                        margin-bottom: 10px !important;
                    }

                    input {
                        font-size: 14px !important;
                        padding: 5px !important;
                        margin-bottom: 15px !important;

                        &::placeholder {
                            font-size: 14px !important;
                        }
                    }

                    .ikisi {

                        .leftside {
                            margin-bottom: 0 !important;

                            input {
                                margin: 0 !important;
                            }

                            span {
                                font-size: 25px !important;
                            }
                        }

                        .rightside {
                            margin-bottom: 0 !important;
                        }
                    }

                    #year,
                    #cvv,
                    #month {
                        text-align: center;
                    }
                }

                .below {
                    height: 48% !important;
                    top: 5% !important;

                    &::before {
                        content: '';
                        height: 50px !important;
                    }

                    input {
                        font-size: 14px !important;
                        padding: 5px !important;
                        margin-bottom: 40px !important;
                        margin-right: 15px !important;

                        &::placeholder {
                            font-size: 14px !important;
                        }
                    }
                }

                .buttonandtelkeeper {
                    margin-top: 50px !important;

                    input {
                        font-size: 14px !important;
                        letter-spacing: 3px !important;
                        box-shadow: 0px 0px 5px 1px #0422686c !important;
                        border: 0.5px solid #04226841 !important;

                        &::placeholder {
                            font-size: 14px !important;
                            letter-spacing: 2px !important;
                        }
                    }

                    button {
                        padding: 9px 55px !important;
                        margin-top: 20px !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 577px) and (max-width: 768px) {
    #topupmain {
        margin-top: 80px !important;
        min-height: 79vh !important;

        .all {
            form {
                margin-top: 20px !important;

                .above {
                    padding: 15px !important;

                    .validthru {
                        font-size: 10px !important;
                        margin-bottom: 10px !important;
                    }

                    input {
                        font-size: 14px !important;
                        padding: 5px !important;
                        margin-bottom: 15px !important;

                        &::placeholder {
                            font-size: 14px !important;
                        }
                    }

                    .ikisi {

                        .leftside {
                            margin-bottom: 0 !important;

                            input {
                                margin: 0 !important;
                            }

                            span {
                                font-size: 25px !important;
                            }
                        }

                        .rightside {
                            margin-bottom: 0 !important;
                        }
                    }

                    #year,
                    #cvv,
                    #month {
                        text-align: center;
                    }
                }

                .below {
                    height: 58% !important;
                    top: 5% !important;

                    &::before {
                        content: '';
                        height: 50px !important;
                    }

                    input {
                        font-size: 14px !important;
                        padding: 5px !important;
                        margin-bottom: 40px !important;
                        margin-right: 15px !important;

                        &::placeholder {
                            font-size: 14px !important;
                        }
                    }
                }

                .buttonandtelkeeper {
                    margin-top: 50px !important;

                    input {
                        font-size: 14px !important;
                        letter-spacing: 3px !important;
                        width: 47% !important;

                        &::placeholder {
                            font-size: 14px !important;
                            letter-spacing: 2px !important;
                        }
                    }

                    button {
                        padding: 5px 55px !important;
                        width: 47% !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 992px) {
    #topupmain {
        margin-top: 80px !important;
        min-height: 79vh !important;

        .all {
            form {

                .above {

                    input {
                        padding: 10px !important;
                    }
                }

                .below {
                    height: 60% !important;
                    top: 5% !important;

                    input {
                        padding: 10px !important;
                    }

                    &::before {
                        content: '';
                        height: 70px;
                    }
                }

                .buttonandtelkeeper {
                    margin-top: 50px !important;
                    margin-bottom: 40px !important;

                    input {
                        width: 47% !important;
                    }

                    button {
                        width: 47% !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 992px) and (max-width: 1200px) {
    #topupmain {

        .all {
            form {
                width: 60% !important;

                .below {
                    height: 57% !important;
                    top: 5%;
                }

                .buttonandtelkeeper {
                    margin-top: 50px !important;
                    margin-bottom: 40px !important;

                    input {
                        font-size: 16px !important;
                        width: 47% !important;

                        &::placeholder {
                            font-size: 16px !important;
                        }
                    }

                    button {
                        font-size: 16px !important;
                        width: 47% !important;
                    }
                }
            }
        }
    }
}

@media(min-width: 1200px) and (max-width: 1280px) {
    #topupmain {

        .all {
            form {
                width: 55% !important;

                .below {
                    height: 57% !important;
                    top: 5%;
                }

                .buttonandtelkeeper {
                    margin-top: 50px !important;
                    margin-bottom: 40px !important;

                    input {
                        font-size: 16px !important;
                        width: 47% !important;

                        &::placeholder {
                            font-size: 16px !important;
                        }
                    }

                    button {
                        padding: 7px 55px;
                        font-size: 16px !important;
                        width: 47% !important;
                    }
                }
            }
        }
    }
}