* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.all {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.preloaderdiv {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.preloaderdiv .preloader {
  border: 10px solid #f3f3f3;
  border-radius: 100%;
  border-top: 10px solid red;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: MontserratMedium;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: MontserratLight;
  src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

:root {
  --montbold: MontserratBold;
  --montmedium: MontserratMedium;
  --montlight: MontserratLight;
}

:root {
  --robotobold: RobotoBold;
  --robotomedium: RobotoMedium;
  --robotolight: RobotoLight;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 8.33333333%;
}

.col-1-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 10%;
}

.col-1-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 12.5%;
}

.col-1-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 16.66666667%;
}

.col-2-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 17.5%;
}

.col-2-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 19.166%;
}

.col-2-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 20.83333%;
}

.col-2-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 23.3333333%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 25%;
}

.col-3-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 29.1666%;
}

.col-3-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 31.666666%;
}

.col-3-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 32.5%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 33.33333333%;
}

.col-4-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 37.5%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 41.66666667%;
}

.col-5-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 45.833333%;
}

.col-5-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 48.333333%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 50%;
}

.col-6-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 54.166666%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 83.33333333%;
}

.col-10-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 87.5%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
}

.col-1-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 15%;
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-7-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 62.5%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .col-lg-0-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 4.16666666%;
  }
  .col-lg-0-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 6.6666%;
  }
  .col-lg-0-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 5.83333%;
  }
  .col-lg-1-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 10%;
  }
  .col-lg-1-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 12.5%;
  }
  .col-lg-1-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 15%;
  }
  .col-lg-2-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 18.333333%;
  }
  .col-lg-2-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20%;
  }
  .col-lg-2-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 20.8333333%;
  }
  .col-lg-2-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 23.3333333%;
  }
  .col-lg-3-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 29.16666666%;
  }
  .col-lg-3-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 31.6666%;
  }
  .col-lg-4-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 37.5%;
  }
  .col-lg-5-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 45.8333%;
  }
  .col-lg-5-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 48.3333333%;
  }
  .col-lg-5-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 49.1666%;
  }
  .col-lg-6-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 54.16666666%;
  }
  .col-lg-9-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 79.16666%;
  }
}

#header {
  z-index: 10000;
  width: 100%;
  font-family: var(--montlight);
  font-size: 17px;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: #d3d1d1;
  -webkit-box-shadow: 0px 1px 20px 1px grey;
          box-shadow: 0px 1px 20px 1px grey;
}

#header .all {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .all div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header .all div:nth-child(2) a {
  margin: 0 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: relative;
}

#header .all div:nth-child(2) a:last-child {
  margin-right: 0;
}

#header .all div:nth-child(2) a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #0055b0;
  width: 0%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#header .all div:nth-child(2) a:hover {
  color: #0055b0;
}

#header .all div:nth-child(2) a:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #0055b0;
  width: 100%;
}

#main {
  margin: 70px 0;
  font-family: var(--montlight);
  font-size: 16px;
}

#main .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

#main .all form {
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 1px #0055b0;
          box-shadow: 0px 0px 5px 1px #0055b0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: var(--montlight);
  position: relative;
  top: 0;
  left: 0;
}

#main .all form .firstp {
  position: absolute;
  top: 5%;
  left: 3%;
  text-align: start;
  font-size: 40px;
  color: #0055b0;
  font-family: var(--montmedium);
  text-shadow: 1px 1px 1px black;
}

#main .all form .secondp {
  position: absolute;
  top: 32%;
  left: 3%;
  text-align: start;
  font-size: 21px;
  color: #575757;
}

#main .all form .errorp {
  font-size: 18px;
  bottom: 5%;
  left: 3%;
  position: absolute;
  color: white;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 1px solid red;
  border-radius: 5px;
  padding: 2px;
}

#main .all form .hideerrorp {
  opacity: 0 !important;
  visibility: hidden !important;
}

#main .all form .inputbox {
  position: absolute;
  top: 75%;
  left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.5px solid #0055b0;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 5px 1px #0055b0;
          box-shadow: 0px 0px 5px 1px #0055b0;
  background-color: #6c8be0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .all form .inputbox:hover {
  -webkit-box-shadow: 0px 0px 10px 1px #0055b0;
          box-shadow: 0px 0px 10px 1px #0055b0;
}

#main .all form .inputbox:focus {
  -webkit-box-shadow: 0px 0px 10px 1px #0055b0;
          box-shadow: 0px 0px 10px 1px #0055b0;
}

#main .all form .inputbox input {
  font-size: 20px;
  color: white;
  letter-spacing: 4px;
  outline: none;
  border: none;
  background-color: #6c8be0;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 6px 20px;
  transition: 0.2s;
}

#main .all form .inputbox input::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}

#main .all form .inputbox input:-ms-input-placeholder {
  color: white;
  font-size: 20px;
}

#main .all form .inputbox input::-ms-input-placeholder {
  color: white;
  font-size: 20px;
}

#main .all form .inputbox input::placeholder {
  color: white;
  font-size: 20px;
}

#main .all form .inputbox button {
  color: #0055b0;
  background-color: white;
  font-family: var(--montmedium);
  font-size: 18px;
  padding: 10px 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .all form .inputbox button:hover {
  color: white;
  background-color: #0055b0;
}

#main .all form .inputbox button:focus {
  -webkit-box-shadow: 0px 0px 5px 1px #0055b075;
          box-shadow: 0px 0px 5px 1px #0055b075;
}

#main .all .resultsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-family: var(--montmedium);
  font-size: 15px;
}

#main .all .resultsContainer .resultContainer {
  -webkit-box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.3);
          box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.3);
  border-radius: 8px;
  padding: 8px;
  background-color: white;
}

#main .all .resultsContainer .resultContainer .icindeki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 0.5px solid #0055b0;
  border-radius: 8px;
  background-color: white;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(1) {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(1) a {
  padding: 10px;
  font-size: 16px;
  background-color: #0055b0;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-family: var(--montmedium);
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(1) a:hover {
  -webkit-box-shadow: 0px 0px 5px 1px #0055b075;
          box-shadow: 0px 0px 5px 1px #0055b075;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(1) a:focus {
  -webkit-box-shadow: 0px 0px 5px 1px #0055b075;
          box-shadow: 0px 0px 5px 1px #0055b075;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) {
  padding: 10px;
  border-left: 0.5px solid #0055b0;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  border-bottom: 0.5px solid #0055b0;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul li:first-child {
  padding-top: 0;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul li:last-child {
  border: none;
  padding-bottom: 0;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul li span {
  font-size: 16px;
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul li span:nth-child(1) {
  text-align: start;
  font-family: var(--montmedium);
}

#main .all .resultsContainer .resultContainer .icindeki div:nth-child(2) ul li span:nth-child(2) {
  text-align: end;
  color: #0055b0;
}
/*# sourceMappingURL=style.css.map */