* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.all {
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        color: black;
    }
}

//preloader
.preloaderdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 9999999999999;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9) !important;

    .preloader {
        border: 10px solid #f3f3f3;
        border-radius: 100%;
        border-top: 10px solid #0055b0;
        width: 100px;
        height: 100px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
    }
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: MontserratMedium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: MontserratLight;
    src: url(../fonts/Montserrat/Montserrat-Light.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

:root {
    --montbold: MontserratBold;
    --montmedium: MontserratMedium;
    --montlight: MontserratLight;
}

//#region imports
@import 'media';
@import 'login';
@import 'aboutus';
@import 'purchase';
@import 'myaccount';
@import 'topup';
@import 'images';
@import 'successpayment';
//#endregion imports

//#region custom cols

.col-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.col-1-2 {
    flex: 0 0 auto;
    width: 10%;
}

.col-1-5 {
    flex: 0 0 auto;
    width: 12.5%;
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-2-1 {
    flex: 0 0 auto;
    width: 17.5%;
}

.col-2-3 {
    flex: 0 0 auto;
    width: 19.166%;
}

.col-2-5 {
    flex: 0 0 auto;
    width: 20.83333%;
}

.col-2-8 {
    flex: 0 0 auto;
    width: 23.3333333%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-3-5 {
    flex: 0 0 auto;
    width: 29.1666%;
}

.col-3-8 {
    flex: 0 0 auto;
    width: 31.666666%;
}

.col-3-9 {
    flex: 0 0 auto;
    width: 32.5%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-4-5 {
    flex: 0 0 auto;
    width: 37.5%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-5-5 {
    flex: 0 0 auto;
    width: 45.833333%;
}

.col-5-8 {
    flex: 0 0 auto;
    width: 48.333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-6-5 {
    flex: 0 0 auto;
    width: 54.166666%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-8-5 {
    flex: 0 0 auto;
    width: 70.83333%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-9-5 {
    flex: 0 0 auto;
    width: 79.166666%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-10-5 {
    flex: 0 0 auto;
    width: 87.5%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.col-1-8 {
    flex: 0 0 auto;
    width: 15%;
}

@media (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 auto;
        width: 8.33333333%;
    }

    .col-lg-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }

    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }

    .col-lg-5 {
        flex: 0 0 auto;
        width: 41.66666667%;
    }

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .col-lg-7 {
        flex: 0 0 auto;
        width: 58.33333333%;
    }

    .col-lg-7-5 {
        flex: 0 0 auto;
        width: 62.5%;
    }

    .col-lg-8 {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    .col-lg-9 {
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-10 {
        flex: 0 0 auto;
        width: 83.33333333%;
    }

    .col-lg-11 {
        flex: 0 0 auto;
        width: 91.66666667%;
    }

    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }

    .col-lg-0-5 {
        flex: 0 0 auto;
        width: 4.16666666%;
    }

    .col-lg-0-8 {
        flex: 0 0 auto;
        width: 6.6666%;
    }

    .col-lg-0-7 {
        flex: 0 0 auto;
        width: 5.83333%;
    }

    .col-lg-1-2 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-lg-1-5 {
        flex: 0 0 auto;
        width: 12.5%;
    }

    .col-lg-1-8 {
        flex: 0 0 auto;
        width: 15%;
    }

    .col-lg-2-2 {
        flex: 0 0 auto;
        width: 18.333333%;
    }

    .col-lg-2-4 {
        flex: 0 0 auto;
        width: 20%;
    }

    .col-lg-2-5 {
        flex: 0 0 auto;
        width: 20.8333333%;
    }

    .col-lg-2-8 {
        flex: 0 0 auto;
        width: 23.3333333%;
    }

    .col-lg-3-5 {
        flex: 0 0 auto;
        width: 29.16666666%;
    }

    .col-lg-3-8 {
        flex: 0 0 auto;
        width: 31.6666%;
    }

    .col-lg-4-5 {
        flex: 0 0 auto;
        width: 37.5%;
    }

    .col-lg-5-5 {
        flex: 0 0 auto;
        width: 45.8333%;
    }

    .col-lg-5-8 {
        flex: 0 0 auto;
        width: 48.3333333%;
    }

    .col-lg-5-9 {
        flex: 0 0 auto;
        width: 49.1666%;
    }

    .col-lg-6-5 {
        flex: 0 0 auto;
        width: 54.16666666%;
    }

    .col-lg-9-5 {
        flex: 0 0 auto;
        width: 79.16666%;
    }
}

//#endregion custom cols

#header {
    z-index: 10000;
    width: 100%;
    font-family: var(--montlight);
    font-size: 17px;
    position: fixed;
    left: 0%;
    top: 0%;
    box-shadow: 0px 1px 20px 1px #0838a781;
    background-color: #0838A7;

    .all {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        div {
            padding: 0;
            margin: 0;

            &:nth-child(2) {
                display: flex;
                justify-content: end;
                align-items: center;
                flex-wrap: wrap;

                a {
                    margin: 0 10px;
                    transition: 0.2s;
                    position: relative;
                    color: white;

                    &:last-child {
                        margin-right: 0;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        background-color: white;
                        width: 0%;
                        transition: 0.2s;
                    }

                    &:hover {
                        color: white;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            height: 1px;
                            background-color: white;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

#main {
    padding-top: 70px;
    font-family: var(--montlight);
    font-size: 16px;
    padding-bottom: 30px;
    min-height: 92vh;

    .all {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        .maincontainer {
            border-radius: 15px;
            box-shadow: 0px 0px 5px 1px #0422686c;
            font-family: var(--montlight);
            padding: 0;
            margin: 0;
            overflow: hidden;
            position: relative;
            background-image: url(../images/mashina-i-fon-vmeste.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 85vh;

            .firstp {
                position: absolute;
                top: 5%;
                left: 3%;
                text-align: start;
                font-size: 40px;
                color: #0055b0;
                font-family: var(--montmedium);
            }

            .secondp {
                position: absolute;
                top: 32%;
                left: 3%;
                text-align: start;
                font-size: 21px;
                color: #0064cf;
            }

            .inputbox {
                position: absolute;
                top: 75%;
                left: 3%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 0.5px solid #0055b0;
                border-radius: 8px;
                margin: 0;
                padding: 0;
                overflow: hidden;
                box-shadow: 0px 0px 5px 1px #04226846;
                background-color: #2F70CE;
                transition: 0.2s;

                &:focus {
                    box-shadow: 0px 0px 10px 1px #04226870;
                }

                .copyspan,
                .deleteinp {
                    position: absolute;
                    top: 50%;
                    left: 72%;
                    font-size: 25px;
                    color: #042268;
                    cursor: pointer;
                    transform: translateY(-50%);
                }

                input {
                    font-size: 18px;
                    color: white;
                    letter-spacing: 3px;
                    outline: none;
                    border: none;
                    background-color: #2F70CE;
                    border-bottom-left-radius: 5px;
                    border-top-left-radius: 5px;
                    transition: 0.2s;
                    padding: 6px 10px;
                    transition: 0.2s;

                    &::placeholder {
                        color: white;
                        font-size: 18px;
                    }
                }

                .noClick {
                    pointer-events: none;
                }

                button {
                    color: #0055b0;
                    background-color: white;
                    font-family: var(--montmedium);
                    font-size: 18px;
                    padding: 10px 5px;
                    border-bottom-right-radius: 5px;
                    border-top-right-radius: 5px;
                    border-bottom-left-radius: 0px;
                    border-top-left-radius: 0px;
                    transition: 0.2s;

                    &:hover {
                        color: white;
                        background-color: #042268;
                    }
                }
            }
        }

        .resultsContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            margin-top: 20px;
            font-family: var(--montmedium);
            font-size: 15px;

            .resultContainer {
                box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.3);
                border-radius: 8px;
                padding: 8px;
                background-color: white;

                .icindeki {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    border: 0.5px solid #0055b0;
                    border-radius: 8px;
                    background-color: white;

                    .top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;

                        .toptop,
                        .topbottom {
                            padding: 10px;
                            border-bottom: 0.5px solid #0055b0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;

                            .topelement {
                                font-size: 14px;
                                color: #0055b0;
                                font-family: var(--montbold);
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                flex-wrap: wrap;

                                &:nth-child(2) {
                                    text-align: start;
                                    padding-left: 5px;

                                    span {
                                        &:nth-child(2) {
                                            text-align: end;
                                        }
                                    }
                                }

                                span {
                                    &:nth-child(2) {
                                        font-family: var(--montmedium);
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }

                    .bottom {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-wrap: wrap;
                        padding: 15px 10px;

                        .price {
                            font-size: 20px;
                            padding: 6px 32px;
                            border-radius: 5px;
                            border: 0.5px solid #0055b0;
                            font-family: var(--montbold);
                            color: #0055b0;
                        }

                        button {
                            padding: 10px 55px;
                            font-size: 16px;
                            border: none;
                            outline: none;
                            background-color: #0055b0;
                            text-align: center;
                            border-radius: 5px;
                            color: white;
                            font-family: var(--montmedium);
                            transition: 0.2s;

                            &:hover {
                                box-shadow: 0px 0px 5px 1px #042268;
                            }

                            &:focus {
                                box-shadow: 0px 0px 5px 1px #042268;
                            }
                        }
                    }
                }
            }

            .photosApiResult {
                box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.3);
                border-radius: 8px;
                padding: 8px;
                background-color: white;
                font-size: 18px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 15px;

                a {
                    padding: 10px;
                    font-size: 15px;
                    background-color: #0055b0;
                    text-align: center;
                    border-radius: 5px;
                    color: white;
                    font-family: var(--montmedium);
                    transition: 0.2s;

                    &:hover {
                        box-shadow: 0px 0px 5px 1px #042268;
                    }

                    &:focus {
                        box-shadow: 0px 0px 5px 1px #042268;
                    }
                }
            }

            .reklam {
                margin: 0;
                padding: 0;
                border-radius: 10px;
                box-shadow: 0px 0px 15px 1px rgba(128, 128, 128, 0.3);
                margin-top: 30px;
                margin-bottom: 10px;
                overflow: hidden;
            }
        }
    }
}

#footer {
    margin: 0;
    padding: 0;
    font-family: var(--montmedium);
    font-size: 16px;
    box-shadow: 0px -1px 20px 1px #0838a781;
    background-color: rgb(233, 233, 233);

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        padding: 4px 0;

        .left {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            .garantautolink {
                width: 28%;
            }

            .fblink {
                i {
                    font-size: 30px;
                    color: #042268;
                }
            }

            .instalink {
                i {
                    font-size: 30px;
                    color: #C13584;
                }
            }
        }

        .middle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            padding-left: 20px;

            p {
                text-align: center;
                font-size: 14px;
                color: #042268;
            }

            a {
                text-align: center;
                font-size: 14px;
                color: #042268;
                width: 100%;
            }
        }

        .right {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            padding: 0;

            img {
                width: 30%;
            }
        }
    }
}